.container {
  max-width: 400px; /* Ajusta el valor según tus necesidades */
  margin: 20px auto; /* Ajusta el valor según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px 20px; /* Ajusta el valor según tus necesidades */
  border-radius: 5px;
}

.container .login-form {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .login-form .icon {
  font-size: 36px; /* Ajusta el valor según tus necesidades */
  margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
}

.container .login-form input:focus,
.container .login-form button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}